<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
        <div class="card-img-left d-none d-md-flex">
          <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Register</h5>
          <form (submit)="register(newUser)">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInputUsername"
                name="username"
                placeholder="myusername"
                required
                autofocus
                [(ngModel)]="newUser.username"
              />
              <label for="floatingInputUsername">Username</label>
            </div>

            <!-- <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="floatingInputEmail"
                placeholder="name@example.com"
              />
              <label for="floatingInputEmail">Email address</label>
            </div> -->

            <hr />

            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="floatingPassword"
                name="password"
                placeholder="Password"
                [(ngModel)]="newUser.password"
              />
              <label for="floatingPassword">Password</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="floatingPasswordConfirm"
                name="confirmPassword"
                placeholder="Confirm Password"
                [(ngModel)]="confirmPassword"
              />
              <label for="floatingPasswordConfirm">Confirm Password</label>
            </div>

            <div class="form-check-inline mb-3">
              <input
                type="radio"
                class="form-check-input"
                id="role1"
                name="role"
                value="Applicant"
                [(ngModel)]="newUser.role"
              />
              <label class="form-check-label" for="role1">Applicant</label>
            </div>
            <div class="form-check-inline mb-3">
              <input
                type="radio"
                class="form-check-input"
                id="role2"
                name="role"
                value="Company"
                [(ngModel)]="newUser.role"
              />
              <label class="form-check-label" for="role2">Company</label>
            </div>

            <div *ngIf="newUser.role=='Applicant'" class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInputFirstName"
                name="firstName"
                placeholder="firstname"
                required
                autofocus
                [(ngModel)]="newApplicant.firstName"
              />
              <label for="floatingInputUsername">First Name</label>
            </div>

            <div *ngIf="newUser.role=='Applicant'" class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInputLastName"
                name="lastname"
                placeholder="myusername"
                required
                autofocus
                [(ngModel)]="newApplicant.lastName"
              />
              <label for="floatingInputUsername">Last Name</label>
            </div>

            <div *ngIf="newUser.role=='Company'" class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInputName"
                name="companyName"
                placeholder="myusername"
                required
                autofocus
                [(ngModel)]="newCompany.name"
              />
              <label for="floatingInputUsername">Company Name</label>
            </div>

            <div class="d-grid mb-2">
              <button
                class="btn btn-lg btn-primary btn-login fw-bold text-uppercase"
                type="submit"
              >
                Register
              </button>
            </div>
            <span>Already have an account? </span>
            <a class="d-inline text-center mt-2 small" [routerLink]="['/logIn']"
              >Sign In</a
            >

            <hr class="my-4" />

            <div class="d-grid mb-2"></div>

            <div class="d-grid mb-2"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
