<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">
      <img
        src="../../../assets/img/Enchanted-Realm-Full-Metal-Vertical.png"
        width="200px"
        class="d-inline-block align-top"
        alt=""
      />
      <span editable="inline"></span>
    </a>
    <!-- Hamburger Icon -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#myNavbar1"
      aria-controls="myNavbar1"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- /Hamburger Icon -->

    <div class="collapse navbar-collapse" id="myNavbar1">
      <div lc-helper="shortcode" class="live-shortcode me-auto">
        <!--  nav_menu -->
        <ul id="menu-menu-1" class="navbar-nav">
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-32739"
          >
            <a class="nav-link" [routerLink]="['/viewAllJobsCompany']">
              View All Jobs
            </a>
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home nav-item nav-item-32738"
          >
            <a class="nav-link" [routerLink]="['/logIn']">Login/Register</a>
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home nav-item nav-item-32738"
          >
            <button class="nav-link">Log out</button>
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home nav-item nav-item-32738"
          >
            <a class="nav-link" [routerLink]="['/applicantProfile']"
              >Applicant profile</a
            >
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home nav-item nav-item-32738"
          >
            <a class="nav-link" [routerLink]="['/companyProfile']">
              Company Profile
            </a>
          </li>

          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home nav-item nav-item-32738"
          >
            <a class="nav-link" [routerLink]="['/about']"> About </a>
          </li>

          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home nav-item nav-item-32738"
          >
            <a class="nav-link" [routerLink]="['/testimonial']">
              Testimonial
            </a>
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home nav-item nav-item-32738"
          >
            <button class="nav-link">Profile</button>
          </li>
        </ul>
        <!-- /lc_nav_menu -->
      </div>

      <!-- Search Form -->
      <div class="lc-block">
        <form method="get" id="searchform" role="search" action="/">
          <label class="visually-hidden" for="s"> Search </label>
          <div class="input-group">
            <input
              class="field form-control"
              id="s"
              name="s"
              type="text"
              placeholder="Search..."
              value=""
            />
            <input
              class="submit btn btn-primary"
              id="searchsubmit"
              name="submit"
              type="submit"
              value="Search"
            />
          </div>
        </form>
      </div>
      <!-- / Search Form -->
    </div>
  </div>
</nav>
