<section class="bg-light py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">Profile</h2>
        <p class="text-secondary text-center lead fs-4 mb-5">
          Welcome to your personal profile. You can view/edit your profile and
          change/edit your user name and password here.
        </p>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row gy-4 gy-lg-0">
      <div class="col-12 col-lg-4 col-xl-3">
        <div class="row gy-4">
          <div class="col-12">
            <div class="card widget-card border-light shadow-sm">
              <div class="card-header text-bg-warning">Welcome, {{user.username}}</div>
              <div class="card-body">
                <div class="text-center mb-3">
                  <img
                    src="{{applicant.profileImg}}"

                    class="img-fluid rounded-circle"
                    width="90%"
                    style="border-radius: 50%"
                    alt=""
                  />
                </div>
                <h5 class="text-center mb-1">{{user.username}}</h5>
                <p class="text-center text-secondary mb-4">Java Developer</p>
                <ul class="list-group list-group-flush mb-4">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <h6 class="m-0">Jobs Applied</h6>
                    <span>{{applicant.applications}}</span>
                  </li>
                </ul>
                <div class="d-grid m-1">
                  <button (click)="editApplicantCredentials()" class="btn btn-outline-warning" type="button">
                    Edit Profile
                  </button>
                </div>
                <div class="d-grid m-1">
                  <button (click)="editUserCredentials()" class="btn btn-outline-warning" type="button">
                    Edit Username / Password
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="card widget-card border-light shadow-sm">
              <div class="card-header text-bg-warning">Highlight Me</div>
              <div class="card-body">
                <ul class="list-group list-group-flush mb-0">
                  <li class="list-group-item">
                    <h6 class="mb-1">
                      <span class="bii bi-mortarboard-fill me-2"
                        >Education</span
                      >
                    </h6>
                    <span>M.S Computer Science</span>
                  </li>
                  <li class="list-group-item">
                    <h6 class="mb-1">
                      <span class="bii bi-geo-alt-fill me-2">Location</span>
                    </h6>
                    <span>Mountain View, California</span>
                  </li>
                  <li class="list-group-item">
                    <h6 class="mb-1">
                      <span class="bii bi-building-fill-gear me-2"
                        >Company</span
                      >
                    </h6>
                    <span>GitHub Inc</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8 col-xl-9">
        <div class="card widget-card border-light shadow-sm">
          <div *ngIf="editUser != null" class="card-body p-4">
            <!-- Edit Username and Password -->
            <div id="edit-username-password">
              <h5 class="mb-3">Update Password</h5>

              <div class="row gy-3 gy-xxl-4">
                <div class="col-12 col-md-6">
                  <label for="inputPassword" class="form-label"
                    >Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="inputPassword"
                    [(ngModel)]="editUser.password"
                    value=""
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="confirmPassword" class="form-label">Confirm Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="confirmPassword"
                    [(ngModel)]="confirmPassword"
                    value=""
                  />
                </div>

                <div class="col-12">
                  <button (click)="editUserCredentials()" type="submit" class="btn btn-warning">
                    Save Changes
                  </button>
                </div>
              </div>
            </div>
            <!-- / Edit Username and Password -->
          </div>
        </div>
        <div class="card widget-card border-light shadow-sm">
          <div class="card-body p-4">
            <!-- Profile Section -->
            <div *ngIf="editApplicant == null" id="profile-section">
              <h5 class="mb-3">About</h5>
              <p class="lead mb-3">
                {{applicant.aboutMe}}
                <!-- I am a seasoned and results-driven Project Manager who brings
                experience and expertise to project management. With a proven
                track record of successfully delivering complex projects on time
                and within budget, I am the go-to professional for organizations
                seeking efficient and effective project leadership. -->
              </p>
              <h5 class="mb-3">Profile</h5>
              <div class="row g-0">
                <div
                  class="col-5 col-md-3 bg-light border-bottom border-white border-3"
                >
                  <div class="p-2">First Name</div>
                </div>
                <div
                  class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3"
                >
                  <div class="p-2">{{applicant.firstName}}</div>
                </div>
                <div
                  class="col-5 col-md-3 bg-light border-bottom border-white border-3"
                >
                  <div class="p-2">Last Name</div>
                </div>
                <div
                  class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3"
                >
                  <div class="p-2">{{applicant.lastName}}</div>
                </div>
                <div
                  class="col-5 col-md-3 bg-light border-bottom border-white border-3"
                >
                  <div class="p-2">Date of Birth</div>
                </div>
                <div
                  class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3"
                >
                  <div class="p-2">{{applicant.dateOfBirth}}</div>
                </div>
                <div
                  class="col-5 col-md-3 bg-light border-bottom border-white border-3"
                >
                  <div class="p-2">Address</div>
                </div>
                <div
                  class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3"
                >
                  <div class="p-2">{{applicant.address.street}}, {{applicant.address.city}}, {{applicant.address.state}} {{applicant.address.zipCode}}</div>
                </div>

                <div
                  class="col-5 col-md-3 bg-light border-bottom border-white border-3"
                >
                  <div class="p-2">Eligible to Work</div>
                </div>
                <div
                  class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3"
                >
                  <div class="p-2">{{applicant.eligibleToWork}}</div>
                </div>
                <div
                  class="col-5 col-md-3 bg-light border-bottom border-white border-3"
                >
                  <div class="p-2">Willing to Relocate</div>
                </div>
                <div
                  class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3"
                >
                  <div class="p-2">{{applicant.relocation}}</div>
                </div>

                <div
                  class="col-5 col-md-3 bg-light border-bottom border-white border-3"
                >
                  <div class="p-2">Email</div>
                </div>
                <div
                  class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3"
                >
                  <div class="p-2">{{applicant.email}}</div>
                </div>
              </div>
            </div>
            <!-- Profile Section -->

            <!-- Edit Profile -->
            <div *ngIf="editApplicant != null" id="edit-profile">
              <h5 class="mb-3">Edit profile</h5>

              <div class="row gy-3 gy-xxl-4">
                <div class="col-12 col-md-6">
                  <label for="inputFirstName" class="form-label"
                    >First Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputFirstName"

                    [(ngModel)]="editApplicant.firstName"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="inputLastName" class="form-label"
                    >Last Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputLastName"
                    [(ngModel)]="editApplicant.lastName"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="inputDoB" class="form-label"
                    >Date of Birth</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="inputDoB"
                    [(ngModel)]="editApplicant.dateOfBirth"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="inputEmail" class="form-label">Email Address</label>
                  <input
                    type="email"
                    class="form-control"
                    id="inputEmail"
                    [(ngModel)]="editApplicant.email"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="inputStreet" class="form-label">Street</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputStreet"
                    [(ngModel)]="editApplicant.address.street"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="inputCity" class="form-label">City</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputCity"
                    [(ngModel)]="editApplicant.address.city"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="inputState" class="form-label">State</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputState"
                    [(ngModel)]="editApplicant.address.state"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="inputZip" class="form-label">Zip Code</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputZip"
                    [(ngModel)]="editApplicant.address.zipCode"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="inputEligibleToWork" class="form-check-label">Eligible To Work </label>
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="inputEligibleToWork"
                    [(ngModel)]="editApplicant.eligibleToWork"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="inputRelocation" class="form-check-label">Willing to Relocate </label>
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="inputRelocation"
                    [(ngModel)]="editApplicant.relocation"
                  />
                </div>

                <div class="col-12">
                  <label for="inputAbout" class="form-label">About</label>
                  <textarea class="form-control" id="inputAbout" [(ngModel)]="editApplicant.aboutMe">

                  </textarea>
                </div>
                <div class="col-12">
                  <label for="inputProfilePictureUrl" class="form-label"
                    >Profile Pricture URL</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputProfilePictureUrl"
                    [(ngModel)]="editApplicant.profileImg"
                  />
                </div>
                <div class="col-12">
                  <button (click)="updateApplicantInfo(editApplicant)" type="submit" class="btn btn-warning">
                    Save Changes
                  </button>
                </div>
              </div>
            </div>
            <!-- / Edit profile -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h5 class="mb-4 display-5 text-center m-4">Jobs Applied</h5>
        <p class="text-secondary text-center lead fs-4 mb-5">
          You can review all job positions you have applied here.
        </p>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row m-4">
      <!-- Job card -->
      <div [routerLink]="['/jobDetailApplicantView/' + item.jobPosting.id]" class="col-lg-4 col-md-6 col-sm-6" *ngFor="let item of apps">
        <div class="category mb-30">
          <div class="job">

              <span class="colors{{item.id}} mb-4">{{item.jobPosting.title}}</span>
            <ul class="place">
              <li>
                <p><i class="fas fa-map-marker-alt pe-2"></i>{{item.jobPosting.address.city}},
                  {{item.jobPosting.address.state}}</p>
              </li>
              <li>
                <p class="ps-5">
                  <i class="fas fa-map-marker-alt pe-2"></i>Full Time {{item.jobPosting.requirements}}
                </p>
              </li>
            </ul>
            <div class="d-flex align-items-center justify-content-between m-2">
              <div class="left">
                <p>{{item.jobPosting.company.name}}</p>
              </div>
              <div class="badge bg-success">${{item.jobPosting.minimumSalary}} - ${{item.jobPosting.maximumSalary}}</div>
            </div>
            <div class="d-flex align-items-center justify-content-between m-2">
              <div>
                <div class="badge bg-secondary m-1">GOLANG</div>
                <div class="badge bg-secondary m-1">SENIOR</div>
                <div class="badge bg-secondary m-1">ENGINEER</div>
                <div class="badge bg-secondary m-1">BACKEND</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / Job card -->

      <!-- Job card -->
      <!-- <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="category mb-30">
          <div class="job">
            <a href=""
              ><span class="colors2 mb-4"
                >Foreign Language Research Analyst</span
              ></a
            >
            <ul class="place">
              <li>
                <p><i class="fas fa-map-marker-alt pe-2"></i> New York, USA</p>
              </li>
              <li>
                <p class="ps-5">
                  <i class="fas fa-map-marker-alt pe-2"></i>Full Time
                </p>
              </li>
            </ul>
            <div class="d-flex align-items-center justify-content-between m-2">
              <div class="left">
                <p>Globe Solution Ltd.</p>
              </div>
              <div class="badge bg-success">$90K - $180K</div>
            </div>
            <div class="d-flex align-items-center justify-content-between m-2">
              <div>
                <div class="badge bg-secondary m-1">GOLANG</div>
                <div class="badge bg-secondary m-1">SENIOR</div>
                <div class="badge bg-secondary m-1">ENGINEER</div>
                <div class="badge bg-secondary m-1">BACKEND</div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- / Job card -->

      <!-- Job card -->
      <!-- <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="category mb-30">
          <div class="job">
            <a href=""><span class="colors3 mb-4">Medical Assistant</span></a>
            <ul class="place">
              <li>
                <p><i class="fas fa-map-marker-alt pe-2"></i> New York, USA</p>
              </li>
              <li>
                <p class="ps-5">
                  <i class="fas fa-map-marker-alt pe-2"></i>Full Time
                </p>
              </li>
            </ul>
            <div class="d-flex align-items-center justify-content-between m-2">
              <div class="left">
                <p>Globe Solution Ltd.</p>
              </div>
              <div class="badge bg-success">$90K - $180K</div>
            </div>
            <div class="d-flex align-items-center justify-content-between m-2">
              <div>
                <div class="badge bg-secondary m-1">GOLANG</div>
                <div class="badge bg-secondary m-1">SENIOR</div>
                <div class="badge bg-secondary m-1">ENGINEER</div>
                <div class="badge bg-secondary m-1">BACKEND</div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- / Job card -->

      <!-- Job card -->
      <!-- <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="category mb-30">
          <div class="job">
            <a href=""
              ><span class="colors4 mb-4">User Experience Designer</span></a
            >
            <ul class="place">
              <li>
                <p><i class="fas fa-map-marker-alt pe-2"></i> New York, USA</p>
              </li>
              <li>
                <p class="ps-5">
                  <i class="fas fa-map-marker-alt pe-2"></i>Full Time
                </p>
              </li>
            </ul>
            <div class="d-flex align-items-center justify-content-between m-2">
              <div class="left">
                <p>Globe Solution Ltd.</p>
              </div>
              <div class="badge bg-success">$90K - $180K</div>
            </div>
            <div class="d-flex align-items-center justify-content-between m-2">
              <div>
                <div class="badge bg-secondary m-1">GOLANG</div>
                <div class="badge bg-secondary m-1">SENIOR</div>
                <div class="badge bg-secondary m-1">ENGINEER</div>
                <div class="badge bg-secondary m-1">BACKEND</div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- / Job card -->

      <!-- Job card -->
      <!-- <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="category mb-30">
          <div class="job">
            <a href=""
              ><span class="colors5 mb-4"
                >Foreign Language Research Analyst</span
              ></a
            >
            <ul class="place">
              <li>
                <p><i class="fas fa-map-marker-alt pe-2"></i> New York, USA</p>
              </li>
              <li>
                <p class="ps-5">
                  <i class="fas fa-map-marker-alt pe-2"></i>Full Time
                </p>
              </li>
            </ul>
            <div class="d-flex align-items-center justify-content-between m-2">
              <div class="left">
                <p>Globe Solution Ltd.</p>
              </div>
              <div class="badge bg-success">$90K - $180K</div>
            </div>
            <div class="d-flex align-items-center justify-content-between m-2">
              <div>
                <div class="badge bg-secondary m-1">GOLANG</div>
                <div class="badge bg-secondary m-1">SENIOR</div>
                <div class="badge bg-secondary m-1">ENGINEER</div>
                <div class="badge bg-secondary m-1">BACKEND</div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- / Job card -->

      <!-- <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="btn btn-primary mb-30">
            <span>Show More</span>
            <span class="fas fa-arrow-right"></span>
          </div>
        </div> -->
    </div>
  </div>
</section>
