<div class="container">
  <div class="text-center mb-5">
    <h3>Jobs openning</h3>
    <p class="lead">Some Description</p>
  </div>
  <div *ngFor="let job of jobpostings" class="card mb-3">
    <div class="card-body">
      <div class="d-flex flex-column flex-lg-row">
        <span [routerLink]="['/companyProfile/' + job.company.id]" class="avatar avatar-text rounded-3 me-4 mb-2">
          <!-- FD -->
          <img
                    src="{{job.company.logo}}"

                    class="img-fluid rounded-circle"
                    width="90%"
                    style="border-radius: 50%"
                    alt=""
                  />
        </span>
        <div class="row flex-fill">
          <div class="col-sm-5">
            <h4 class="h5">{{job.title}}</h4>
            <span class="badge bg-secondary m-1">{{job.address.state}}</span>
            <span class="badge bg-success m-1">${{job.minimumSalary}} - ${{job.maximumSalary}}</span>
          </div>
          <div class="col-sm-4 py-2">
            <span class="badge bg-secondary m-1">REACT</span>
            <span class="badge bg-secondary m-1">NODE</span>
            <span class="badge bg-secondary m-1">TYPESCRIPT</span>
            <span class="badge bg-secondary m-1">JUNIOR</span>
          </div>
          <div class="col-sm-3 text-lg-end">
            <button
              class="btn btn-warning m-2"
              [routerLink]="['/jobDetailApplicantView/' + job.id]"
            >
              Details
            </button>
            <button *ngIf="applicant.id != 0" (click)="applyToJobPosting(job)" class="btn btn-primary m-2">Apply</button>
            <span *ngIf="appliedTo(job)">✅</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="card mb-3">
    <div class="card-body">
      <div class="d-flex flex-column flex-lg-row">
        <span class="avatar avatar-text rounded-3 me-4 bg-warning mb-2"
          >BE</span
        >
        <div class="row flex-fill">
          <div class="col-sm-5">
            <h4 class="h5">Senior Backend Engineer</h4>
            <span class="badge bg-secondary m-1">US</span>
            <span class="badge bg-success m-1">$90K - $180K</span>
          </div>
          <div class="col-sm-4 py-2">
            <span class="badge bg-secondary m-1">GOLANG</span>
            <span class="badge bg-secondary m-1">SENIOR</span>
            <span class="badge bg-secondary m-1">ENGINEER</span>
            <span class="badge bg-secondary m-1">BACKEND</span>
          </div>
          <div class="col-sm-3 text-lg-end">
            <button
              [routerLink]="['/jobDetailApplicantView']"
              class="btn btn-warning m-2"
            >
              Details
            </button>
            <button class="btn btn-primary m-2">Apply</button>
            <span>✅</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="d-flex flex-column flex-lg-row">
        <span class="avatar avatar-text rounded-3 me-4 bg-info mb-2">PM</span>
        <div class="row flex-fill">
          <div class="col-sm-5">
            <h4 class="h5">Director of Product Marketing</h4>
            <span class="badge bg-secondary m-1">WORLDWIDE</span>
            <span class="badge bg-success m-1">$150K - $210K</span>
          </div>
          <div class="col-sm-4 py-2">
            <span class="badge bg-secondary m-1">PRODUCT MARKETING</span>
            <span class="badge bg-secondary m-1">MARKETING</span>
            <span class="badge bg-secondary m-1">EXECUTIVE</span>
            <span class="badge bg-secondary m-1">ECOMMERCE</span>
          </div>
          <div class="col-sm-3 text-lg-end">
            <button
              [routerLink]="['/jobDetailApplicantView']"
              class="btn btn-warning m-2"
            >
              Details
            </button>
            <button class="btn btn-primary m-2">Apply</button>
            <span>✅</span>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
