<div class="container">
  <div class="text-center mb-5">
    <h3>Jobs openning</h3>
    <p class="lead">Some Description</p>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="d-flex flex-column flex-lg-row">
        <span class="avatar avatar-text rounded-3 me-4 mb-2">FD</span>
        <div class="row flex-fill">
          <div class="col-sm-5">
            <h4 class="h5">Junior Frontend Developer</h4>
            <span class="badge bg-secondary m-1">WORLDWIDE</span>
            <span class="badge bg-success m-1">$60K - $100K</span>
          </div>
          <div class="col-sm-4 py-2">
            <span class="badge bg-secondary m-1">REACT</span>
            <span class="badge bg-secondary m-1">NODE</span>
            <span class="badge bg-secondary m-1">TYPESCRIPT</span>
            <span class="badge bg-secondary m-1">JUNIOR</span>
          </div>
          <div class="col-sm-3 text-lg-end">
            <a href="#" class="btn btn-warning stretched-link m-2">Details</a>
            <a href="#" class="btn btn-primary stretched-link m-2">Apply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="d-flex flex-column flex-lg-row">
        <span class="avatar avatar-text rounded-3 me-4 bg-warning mb-2"
          >BE</span
        >
        <div class="row flex-fill">
          <div class="col-sm-5">
            <h4 class="h5">Senior Backend Engineer</h4>
            <span class="badge bg-secondary m-1">US</span>
            <span class="badge bg-success m-1">$90K - $180K</span>
          </div>
          <div class="col-sm-4 py-2">
            <span class="badge bg-secondary m-1">GOLANG</span>
            <span class="badge bg-secondary m-1">SENIOR</span>
            <span class="badge bg-secondary m-1">ENGINEER</span>
            <span class="badge bg-secondary m-1">BACKEND</span>
          </div>
          <div class="col-sm-3 text-lg-end">
            <a href="#" class="btn btn-warning stretched-link m-2">Details</a>
            <a href="#" class="btn btn-primary stretched-link m-2">Apply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="d-flex flex-column flex-lg-row">
        <span class="avatar avatar-text rounded-3 me-4 bg-info mb-2">PM</span>
        <div class="row flex-fill">
          <div class="col-sm-5">
            <h4 class="h5">Director of Product Marketing</h4>
            <span class="badge bg-secondary m-1">WORLDWIDE</span>
            <span class="badge bg-success m-1">$150K - $210K</span>
          </div>
          <div class="col-sm-4 py-2">
            <span class="badge bg-secondary m-1">PRODUCT MARKETING</span>
            <span class="badge bg-secondary m-1">MARKETING</span>
            <span class="badge bg-secondary m-1">EXECUTIVE</span>
            <span class="badge bg-secondary m-1">ECOMMERCE</span>
          </div>
          <div class="col-sm-3 text-lg-end">
            <a href="#" class="btn btn-warning stretched-link m-2">Details</a>
            <a href="#" class="btn btn-primary stretched-link m-2">Apply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
