<section class="bg-light py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">Full Stack Engineer</h2>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
      </div>
    </div>
  </div>

  <div *ngIf="jobposting" class="container">
    <div class="row gy-4 gy-lg-0">
      <div class="col-12 col-lg-4 col-xl-3">
        <div class="row gy-4">
          <div class="col-12">
            <div class="card widget-card border-light shadow-sm">
              <div class="card-header text-bg-info">{{jobposting.title}}</div>
              <div class="card-body">
                <div class="text-center mb-3">
                  <img
                    src={{jobposting.company?.logo}}
                    class="img-fluid rounded-circle"
                    alt=""
                  />
                </div>

                <ul class="list-group list-group-flush mb-4">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <h6 class="m-0">Location</h6>
                    <span>{{jobposting.address.state}}</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <h6 class="m-0">Positions Available</h6>
                    <span>{{jobposting.positions}}</span>
                  </li>
                </ul>
                <div class="d-grid m-0">
                  <button (click)="editJobPosting()" class="btn btn-outline-info m-1" type="button">
                    Edit this job posting
                  </button>
                </div>
                <div class="d-grid m-0">
                  <button [routerLink]="['/companyProfile/' + jobposting.company.id]" class="btn btn-outline-info m-1" type="button">
                    Company Profile
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <!-- Number of Applicants -->
            <div class="card widget-card border-light shadow-sm">
              <div class="card-header text-bg-info">Application status</div>
              <div class="card-body">
                <ul class="list-group list-group-flush mb-0">
                  <li class="list-group-item">
                    <h6 class="mb-1">
                      <span class="bii bi-mortarboard-fill me-2">
                        Number of applicants
                      </span>
                    </h6>
                    <span></span>
                  </li>
                </ul>
              </div>
            </div>

            <div class="card widget-card border-light shadow-sm">
              <button
                class="btn btn-primary"
                style="display: block; width: 100%"
              >
                🔙 Back
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8 col-xl-9">
        <!-- Job detail view -->
        <div *ngIf="editedJobPosting == null" class="card widget-card border-light shadow-sm">
          <div class="card-body p-4">
            <h5 class="mb-3">Description</h5>
            <p class="lead mb-3">
              {{jobposting.description}}
            </p>

            <h5 class="mb-3">Salary Range</h5>
            <p class="lead mb-3">
              ${{jobposting.minimumSalary}} - ${{jobposting.maximumSalary}}
            </p>

          </div>
        </div>
        <!-- / Job detail view -->

        <!-- Edit Job Details -->
        <div *ngIf="editedJobPosting" class="card widget-card border-light shadow-sm">
          <div class="card-body p-4">
            <div id="new-job-posting">
              <h5 class="mb-3">Edit Job Posting</h5>
              <div class="row gy-3 gy-xxl-4">
                <div class="col-12 col-md-6">
                  <label for="inputFirstName" class="form-label"
                    >Job title</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputFirstName"
                    [(ngModel)]="editedJobPosting.title"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="inputLastName" class="form-label"
                    >Requirement</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputLastName"
                    [(ngModel)]="editedJobPosting.requirements"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="inputEducation" class="form-label"
                    >Minimum salary</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="inputEducation"
                    [(ngModel)]="editedJobPosting.minimumSalary"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="inputSkills" class="form-label"
                    >Maximum salary</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="inputSkills"
                    [(ngModel)]="editedJobPosting.maximumSalary"
                  />
                </div>

                <div class="col-12 col-md-6">
                  <label for="inputStreet" class="form-label">Street</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputStreet"
                    [(ngModel)]="editedJobPosting.address.street"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="inputCity" class="form-label">City</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputCity"
                    [(ngModel)]="editedJobPosting.address.city"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="inputState" class="form-label">State</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputState"
                    [(ngModel)]="editedJobPosting.address.state"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="inputZip" class="form-label">Zip Code</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputZip"
                    [(ngModel)]="editedJobPosting.address.zipCode"
                  />
                </div>

                <div class="col-12 col-md-6">
                  <label for="inputPositions" class="form-label">Positions Available</label>
                  <input
                    type="number"
                    class="form-control"
                    id="inputPositions"
                    [(ngModel)]="editedJobPosting.positions"
                  />
                </div>

                <div class="col-12">
                  <label for="inputAbout" class="form-label">Description</label>
                  <textarea class="form-control" id="inputAbout" [(ngModel)]="editedJobPosting.description">

                    </textarea>
                </div>

                <div class="col-12">
                  <button type="submit" class="btn btn-success">
                    Save changes
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / Edit Job Details -->
      </div>
    </div>
  </div>
</section>
