<section class="bg-light py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">{{jobposting?.title}}</h2>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
      </div>
    </div>
  </div>

  <div *ngIf="jobposting" class="container">
    <div class="row gy-4 gy-lg-0">
      <div class="col-12 col-lg-4 col-xl-3">
        <div class="row gy-4">
          <div class="col-12">
            <div class="card widget-card border-light shadow-sm">
              <div class="card-header text-bg-info">{{jobposting.title}}</div>
              <div class="card-body">
                <div class="text-center mb-3">
                  <img
                    src={{jobposting.company?.logo}}
                    class="img-fluid rounded-circle"
                    alt=""
                  />
                </div>

                <ul class="list-group list-group-flush mb-4">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <h6 class="m-0">Location</h6>
                    <span>{{jobposting.address.state}}</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <h6 class="m-0">Jobs Posted</h6>
                    <span>50</span>
                  </li>
                </ul>
                <div class="d-grid m-0">
                  <button class="btn btn-outline-info m-1" type="button">
                    Edit this job posting
                  </button>
                </div>
                <div class="d-grid m-0">
                  <button [routerLink]="['/companyProfile/' + jobposting.company.id]" class="btn btn-outline-info m-1" type="button">
                    Company Profile
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <!-- Number of Applicants -->
            <div class="card widget-card border-light shadow-sm">
              <div class="card-header text-bg-info">Application status</div>
              <div class="card-body">
                <ul class="list-group list-group-flush mb-0">
                  <li class="list-group-item">
                    <h6 class="mb-1">
                      <span class="bii bi-mortarboard-fill me-2">
                        Number of applicants
                      </span>
                    </h6>
                    <span>50</span>
                  </li>
                </ul>
              </div>
            </div>

            <div class="card widget-card border-light shadow-sm">
              <button
                class="btn btn-primary"
                style="display: block; width: 100%"
              >
                🔙 Back
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8 col-xl-9">
        <!-- Job detail view -->
        <div class="card widget-card border-light shadow-sm">
          <div class="card-body p-4">
            <h5 class="mb-3">Description</h5>
            <p class="lead mb-3">
              {{jobposting.description}}
            </p>

            <h5 class="mb-3">Salary Range</h5>
            <p class="lead mb-3">
              ${{jobposting.minimumSalary}} - ${{jobposting.maximumSalary}}
            </p>

          </div>
        </div>
        <!-- / Job detail view -->

        <!-- Edit Job Details -->
        <div *ngIf="editedJobPosting" class="card widget-card border-light shadow-sm">
          <div class="card-body p-4">
            <div id="new-job-posting">
              <h5 class="mb-3">Edit Job Posting</h5>
              <div class="row gy-3 gy-xxl-4">
                <div class="col-12 col-md-6">
                  <label for="inputFirstName" class="form-label"
                    >Job title</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputFirstName"
                    value="Some value"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="inputLastName" class="form-label"
                    >Requirement</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputLastName"
                    value="HTML, CSS, JavaScript, React ..."
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="inputEducation" class="form-label"
                    >Minimum salary</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="inputEducation"
                    value="100000"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="inputSkills" class="form-label"
                    >Maximum salary</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="inputSkills"
                    value="170000"
                  />
                </div>

                <div class="col-12">
                  <label for="inputAbout" class="form-label">Description</label>
                  <textarea class="form-control" id="inputAbout">
What Is the Job Description for a Software Developer? Software developers design, program, build, deploy and maintain software using many different skills and tools. They also help build software systems that power networks and devices and ensure that those systems remain functional.</textarea
                  >
                </div>

                <div class="col-12">
                  <button type="submit" class="btn btn-success">
                    Save changes
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / Edit Job Details -->
      </div>
    </div>
  </div>
</section>
